Source: liborm-easy-perl
Section: perl
Priority: optional
Maintainer: Ivan Panchenko <wao@mail.ru>
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: perl
Standards-Version: 4.5.1
Homepage: https://metacpan.org/release/ORM-Easy

Package: liborm-easy-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, 
  libjson-xs-perl, libtime-hires-perl, libhash-merge-perl
Description: Minimalistic perl in-database Postgres ORM
  Uses PL/Perl

